*{
    font-family: Calibri;
    font-size: 11pt;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.app {
    min-height: 100%;
}
#header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #000;

    background-color: rgb(255, 255, 255);

    z-index: 10;
}
#menuIcon, #bookingIcon{
    position: absolute;
    top: 10px;
    width: 50px;
}
#menuIcon{
    left: 10px;
}
#bookingIcon{
    right: 10px;
}

#title{
    padding: 14px;
    margin:0;
    width: 100%;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(108, 108, 108, 0.43);
    z-index: 5;
}

    #menu ul {
        width: 66%;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        background-color: rgb(255, 255, 255);
        list-style-type: none;
        margin: 100px 0px 0px 0px;
        padding: 0;
    }
#menu ul li{
    border-bottom: 1px solid #000;
}

#menu ul li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
}
.active {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
}

#content {
    margin: 0;
    padding: 100px 5px 100px 5px;
}

#footer{
    background-color: rgb(255, 216, 0);
    padding: 5px 10px;
    
    height: 100px;
    margin-top: -110px;
}
    #footer * {
        font-size: 9pt;
    }

#socialMedias img{
    float: right;
    width: 50px;
    margin-right: 10px;
}